<launch>
    <!-- 启动realsense相机 -->
    <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
        <arg name="color_width" value="1280"/>
        <arg name="color_height" value="720"/>
        <arg name="depth_width" value="1280"/>
        <arg name="depth_height" value="720"/>
        <arg name="filters" value="pointcloud"/>
        <arg name="align_depth" value="true"/>
        <!-- <arg name="initial_reset" value="true"/> -->
    </include>

    <!-- tf变换关系: Link_6 -> camera_frame -> camera_link -> camera_color_optical_frame -->
    <!-- Link_6 -> camera_frame的变换是手眼标定得到的。camera_link -> camera_optical_frame的变换是realsense驱动指定的 -->
    <!-- camera_frame应和camera_color_optical_frame一致。camera_link -> camera_color_optical_frame的关系参考 https://user-images.githubusercontent.com/99127997/230150735-bc31fedf-d715-4e35-b462-fe2c338832c3.png -->
    <!-- camera_frame -> camera_color_optical_frame 的变换关系为: trans=(0,0,0), rot(Quaternion)=(0,0,0,1) -->
    <!-- camera_link -> camera_color_opical_frame 的变换关系(realsense驱动提供)为：trans(-0.000,0.015,0.000), rot(Quaternion)=(-0.498,0.500,-0.498,0.504) -->
    <!-- 解得camera_frame -> camera_link 的变换关系为：trans=(0.015,0,0), rot(Quaternion)=(0.498,-0.500,0.498,0.504) -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_camera_frame_transform_publisher" args="0.015 0 0 0.498 -0.500 0.498 0.504 /camera_frame /camera_link" />

    <arg name="marker_size" default="4" />
    <arg name="max_new_marker_error" default="0.08" />
    <arg name="max_track_error" default="0.2" />
    <arg name="output_frame" default="/camera_link" />
    <arg name="camera_image_topic" default="/camera/depth_registered/points" />
    <arg name="camera_info_topic" default="/camera/depth/camera_info" />
    <node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkers" respawn="false" output="screen">
        <param name="marker_size" type="double" value="$(arg marker_size)" />
        <param name="max_new_marker_error" type="double" value="$(arg max_new_marker_error)" />
        <param name="max_track_error" type="double" value="$(arg max_track_error)" />
        <param name="output_frame" type="string" value="$(arg output_frame)" />
        <remap from="camera_image" to="$(arg camera_image_topic)" />
        <remap from="camera_info" to="$(arg camera_info_topic)" />
    </node>
</launch>
