<launch>
    <arg name="aruco" default="false"></arg>
    <arg name="ar_track_alvar_usb_cam" default="true"></arg>
    <arg name="ar_track_alvar_realsense" default="false"></arg>

    <!-- 启动moveit -->
    <include file="$(find jaka_planner)/launch/moveit_server.launch" />
    <include file="$(find jaka_zu7_moveit_config)/launch/demo.launch" />
    <!-- 发布机械臂的爪子和Link_6的关系(通过尺子测量得到) -->
    <node name="link6_to_gripper_transform_publisher" pkg="tf2_ros" type="static_transform_publisher" output="screen" args="0 0 0.130 0.7853981633974483 0 0 Link_6 gripper_frame" />
    <!-- 发布机械臂的相机和Link_6的关系(通过手眼标定得到的一组参数)-->
    <node pkg="tf" type="static_transform_publisher" name="end_to_cam_pub" args="0.000317825 0.0458726 0.0362336 -2.309943265014495 -0.00713466163605754 -0.011986764223064376 Link_6 camera_frame 100" />
    <!-- aruco usb cam -->
    <include file="$(find handeye-calib)/launch/aruco/aruco_start_usb_cam.launch" if="$(arg aruco)" />
    <!-- ar_track_alvar usb cam -->
    <include file="$(find jaka_launch)/launch/ar_track_alvar_start_usb_cam.launch" if="$(arg ar_track_alvar_usb_cam)" />
    <!-- ar_track_alvar realsense -->
    <include file="$(find jaka_launch)/launch/ar_track_alvar_start_realsense.launch" if="$(arg ar_track_alvar_realsense)" />
</launch>